* {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

body {
    margin-top: 0 !important;
    background-color: #e9ebee;
}

body, html {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.content-wrapper {
    width: 1024px;
    margin: auto;
    height: 100%;
    padding-top: 10px;
    padding-right: 205px;
}

.greenish {
    color: #616770;
    font-size: 13px;
}

main {
    width: 80%;
    height: 100%;
    margin-left: 20%;
}

.navigation-toolbar, .middle-block, .rightAside {
    margin-top: 42px;
    display: inline-block;
    float: left;

}

.navigation-toolbar {
    overflow: hidden;
    position: fixed;
}
.rightAside {
    width: 38%;
}

.middle-block {
    width: 62%;
}

.relative-wrapper {
    position: relative;
}

.hr-line {
    width: 100%;
    height: 0.06em;
    background-color: rgba(0,0,0,0.1);
}


.stories__image-wrapper{
    cursor: pointer;
    border: 3px solid #4780de;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
}
.stories__story-profile{
    padding: 13px 5px;
}
.stories__plus-wrapper{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: #f5f6f7;
    padding: 5px;
}
figure{
    display: flex;
}