.navigation-bar__wrapper {
    height: inherit;
}

.navigation-bar {

    height: inherit;
    width: 43%;
    float: right;
    display: flex;
}

.navigation-bar__item {
    display: inline-block;
    height: inherit;
    margin: 0 8px;
}

.navigation-bar__item--borders {
    position: relative;
}

.navigation-bar__item--borders::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 18px;
    top: 12px;
    left: -10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation-bar__item--borders::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 18px;
    top: 12px;
    right: -10px;
    background-color: rgba(0, 0, 0, 0.1);
}
.navigation-toolbar--title-name{
    padding: 5px 5px;
}